In [210]:
inputfile = 'ForestCover.xls'

In [211]:
import pandas as pd

In [212]:
df = pd.read_excel(inputfile, sheet_name='table 33.3 statewise')

In [213]:
new_header = df.iloc[10] #grab the 10th row for the header
df = df[12:50] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [214]:
df = df.drop([df.index[30], df.index[31]])

In [215]:
df = df.iloc[:, :5]   # only include columns from start till 5th index in df

In [202]:
df.iloc[:, :].replace({'-': None}, inplace=True)  # replace - with None/Null

In [203]:
# add a new column in position given by loc by computing mean of 2 columns given by value
df.insert(loc = 2, column = 2010, value = df[[2009, 2011]].mean(axis=1))
df.insert(loc = 4, column = 2012, value = df[[2011, 2013]].mean(axis=1)) 
df.insert(loc = 6, column = 2014, value = df[[2013, 2015]].mean(axis=1))

In [204]:
df.to_csv("ForestCover-Clean.csv", index=False)

In [205]:
# Get number of rows that have null values
df.isnull().sum()

10
NaN       0
2009.0    2
2010.0    1
2011.0    1
2012.0    1
2013.0    1
2014.0    0
2015.0    0
dtype: int64

In [206]:
# Get rows that have null values
df[df.isnull().any(axis=1)]

10         NaN     2009.0  2010.0  2011.0  2012.0  2013.0   2014.0   2015.0
37      Telangana     NaN     NaN     NaN     NaN     NaN  26904.0  26904.0
48   Lakshadweep      NaN     0.0     0.0     0.0     0.0      0.0      0.0

In [209]:
# Get rows that have non numeric values
import numpy as np
df[~df.iloc[:, 1:].applymap(np.isreal).all(1)]

Empty DataFrame
Columns: [nan, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0]
Index: []