In [394]:
inputfile = 'MotorVehicles.xlsx'

In [395]:
import pandas as pd
import numpy as np

In [396]:
df = pd.read_excel(inputfile)

In [397]:
df.iloc[4,0] = 'state/ut'
df.iloc[4] = [str(word).strip() for word in df.iloc[4]]
new_header = df.iloc[4] #grab the fourth row for the header
df = df[8:46] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [398]:
df = df.drop([df.index[29], df.index[30]])

In [399]:
df.iloc[:, :].replace({'-': None}, inplace=True) # replace - with None/Null

In [400]:
# Remove white spaces
df["state/ut"] = df["state/ut"].str.strip()

In [401]:
df = df.set_index("state/ut")

In [402]:
df = df.rename(index={'Orissa': 'Odisha'})
df = df.rename(index={'Chhatisgarh': 'Chhattisgarh'})
df = df.rename(index={'A. & N. Islands': 'Andaman & Nicobar Islands'})
df = df.rename(index={'D. & N. Haveli': 'Dadra & Nagar Haveli'})

In [403]:
idx = df[~df.iloc[:, 1:].applymap(np.isreal).all(1)].index #index having non numeric values

In [404]:
# idx = df[~df.iloc[:, 1:].applymap(np.isreal).all(1)].index #index having non numeric values
for i in df.index:
    for c in df.columns:
        if type(df[c][i]) == str:
            
            k = len(df[c][i]) - 1
            while(k >= 0):
                if not df[c][i][k].isdigit():
                    df[c][i] = df[c][i][:k] + df[c][i][k+1:]
                k-=1
            df[c][i] = int(df[c][i])

In [405]:
# sum contents of Andhra Pradesh and Telangana
df.loc['Andhra Pradesh', :] = df.loc[['Andhra Pradesh', 'Telangana']].sum()
df = df.drop('Telangana')

In [406]:
df.to_csv("MotorVehicles-Clean.csv")

In [407]:
# Get number of rows that have null values
df.isnull().sum()

4
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    0
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
dtype: int64

In [408]:
# Get rows that have null values
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]
Index: []

In [409]:
# Get rows that have non numeric values
df[~df.iloc[:, 1:].applymap(np.isreal).all(1)]

Empty DataFrame
Columns: [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]
Index: []

In [393]:
df.index

Index(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh',
       'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab',
       'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttarakhand',
       'Uttar Pradesh', 'West Bengal', 'Andaman and Nicobar Islands',
       'Chandigarh', 'Dadra and Nagar Haveli', 'Daman & Diu', 'Delhi',
       'Lakshadweep', 'Puducherry'],
      dtype='object', name='state/ut')