In [1]:
inputfile = 'AirQualityData.csv'

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(inputfile, encoding = "ISO-8859-1")

In [4]:
df.columns.values

array(['stn_code', 'sampling_date', 'state', 'location', 'agency', 'type',
       'so2', 'no2', 'rspm', 'spm', 'location_monitoring_station',
       'pm2_5', 'date'], dtype=object)

In [5]:
df = df.drop(['stn_code', 'sampling_date', 'agency', 'type', 'location_monitoring_station','pm2_5', 'spm'], axis = 1)

In [6]:
years = ['2005','2006','2007','2008','2009','2010','2011','2012','2013','2014']
df = df[df["date"].str.contains('|'.join(years), na=False)]

In [7]:
df.loc[:, 'date'] = df['date'].str.split('-', expand=True)[0]

In [8]:
df['state'] = df['state'].replace(['Uttaranchal'],'Uttarakhand')

In [9]:
states = list(set(df['state']))

In [10]:
# To check next output
# df.loc[(df['date'] == '2014') & (df['state'] == 'West Bengal')].mean()

In [11]:
df = df.groupby(['state','date']).mean()

In [12]:
#MERGE ANDHRA PRADESH AND TELANGANA DATA AND DELETE TELANGANA DATA
df.loc[('Telangana', '2014')] = df.loc[[('Andhra Pradesh', '2014'), ('Telangana', '2014')]].sum()
df = df.drop(('Telangana', '2014'))

In [13]:
for state in states:
    for year in years:
        if (state, year) not in df.index:
            print(state, year)

Assam 2011
Meghalaya 2005
Telangana 2005
Telangana 2006
Telangana 2007
Telangana 2008
Telangana 2009
Telangana 2010
Telangana 2011
Telangana 2012
Telangana 2013
Telangana 2014
Daman & Diu 2005
Daman & Diu 2006
Daman & Diu 2013
Daman & Diu 2014
Delhi 2010
Bihar 2013
Bihar 2014
Arunachal Pradesh 2005
Arunachal Pradesh 2006
Arunachal Pradesh 2007
Arunachal Pradesh 2008
Arunachal Pradesh 2009
Arunachal Pradesh 2010
Arunachal Pradesh 2011
Arunachal Pradesh 2012
Arunachal Pradesh 2013
Uttarakhand 2009
Uttarakhand 2014
Jammu & Kashmir 2005
Jammu & Kashmir 2006
Jammu & Kashmir 2007
Jammu & Kashmir 2008
Karnataka 2010
Sikkim 2005
Sikkim 2006
Sikkim 2008
Sikkim 2009
Sikkim 2010
Sikkim 2011
Sikkim 2012
Sikkim 2013
Sikkim 2014
Manipur 2005
Manipur 2006
Manipur 2009
Manipur 2010
Manipur 2011
Manipur 2012
Manipur 2013
Manipur 2014
Nagaland 2012
Nagaland 2014
Mizoram 2009
Dadra & Nagar Haveli 2005
Dadra & Nagar Haveli 2006
Dadra & Nagar Haveli 2013
Dadra & Nagar Haveli 2014

In [14]:
# df.to_csv("AirQualityData-Clean.csv")

In [15]:
# Get number of rows that have null values
df.isnull().sum()

so2     3
no2     1
rspm    2
dtype: int64

In [16]:
# Get rows that have null values for no2
df[df['no2'].isnull()]

              so2  no2       rspm
state   date
Mizoram 2005  NaN  NaN  27.856287

In [17]:
# Get rows that have null values for so2
df[df['so2'].isnull()]

               so2        no2       rspm
state    date
Mizoram  2005  NaN        NaN  27.856287
         2008  NaN   7.246286  37.304207
Nagaland 2005  NaN  14.760000  79.764706

In [18]:
# Get rows that have null values for rspm
df[df['rspm'].isnull()]

                                so2        no2  rspm
state                date
Dadra & Nagar Haveli 2012  7.618667  20.181333   NaN
Daman & Diu          2012  7.628947  20.147368   NaN

In [20]:
# Get rows that have null values for spm
# df[df['spm'].isnull()]
# df[df.isnull().any(axis=1)]

In [21]:
# Get rows that have non numeric values
import numpy as np
df[~df.iloc[:, 1:].applymap(np.isreal).all(1)]

Empty DataFrame
Columns: [so2, no2, rspm]
Index: []