In [266]:
inputfile = 'Industries.xlsx'

In [267]:
import pandas as pd
import numpy as np

In [268]:
df = pd.read_excel(inputfile, sheet_name='State-wise')

In [269]:
df = df.iloc[:, :7]  # only include columns from start till 7th index in df

In [270]:
df.iloc[7,0] = 'state/ut'       # assign first column header  
df.iloc[7] = [(word[0:2]+word[-2:]).strip() for word in df.iloc[7]] # change '2011-12' to '2012'
df.iloc[7,0] = 'state/ut'       # assign first column header  
new_header = df.iloc[7]         #grab the fourth row for the header
df = df[10:46]                  #take the data less the header row
df.columns = new_header         #set the header row as the df header

In [271]:
df = df.drop([df.index[28]])

In [272]:
df.iloc[:, :].replace({'-': None}, inplace=True) # replace - with None/Null

In [273]:
df = df.set_index("state/ut")

In [274]:
df = df.rename(index={'A & N. Island': 'Andaman & Nicobar Islands'})
df = df.rename(index={'Dadra & N Haveli': 'Dadra & Nagar Haveli'})
df = df.rename(index={'UttaraKhand': 'Uttarakhand'})

In [275]:
# sum contents of Andhra Pradesh and Telangana
df.loc['Andhra Pradesh', :] = df.loc[['Andhra Pradesh', 'Telangana']].sum()
df = df.drop('Telangana')

In [276]:
# Replace Null values with 0
# df = df.replace(np.nan, 0)

In [277]:
df.to_csv("Industries-Clean.csv")

In [278]:
# Get count of rows having null values
df.isnull().sum()

7
2009    3
2010    2
2011    2
2012    2
2013    2
2014    2
dtype: int64

In [279]:
# Get rows that have null values
df[df.isnull().any(axis=1)]

7                  2009  2010  2011  2012  2013  2014
state/ut
Arunachal Pradesh   NaN   NaN   NaN   NaN   NaN   NaN
Sikkim              NaN  46.0  64.0  61.0  65.0  66.0
Lakshadweep         NaN   NaN   NaN   NaN   NaN   NaN

In [280]:
# Get rows that have non numeric values
df[~df.iloc[:, 1:].applymap(np.isreal).all(1)]

Empty DataFrame
Columns: [2009, 2010, 2011, 2012, 2013, 2014]
Index: []